In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('games_no_nan.csv')

In [3]:
df.head(5)

,GAME_DATE_EST,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,HOME_TEAM_WINS
0,22/12/2022,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1
1,22/12/2022,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1
2,21/12/2022,1610612739,114.0,0.482,0.786,0.313,22.0,37.0,1
3,21/12/2022,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1
4,21/12/2022,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,0

In [4]:
from datetime import datetime
import pandas as pd

date_format = "%d/%m/%Y"
start_date = datetime.strptime('1/1/2000', date_format)

number = df.shape[0]

concatFeature = [] 
# FG_PCT_home + TEAM_ID_home[-2:] + PTS_home + FT_PCT_home + AST_home + REB_home + HOME_TEAM_WINS

for i in range(number):
    now_date = datetime.strptime(df['GAME_DATE_EST'][i], date_format)  # Changed from [0] to [i]
    delta = now_date - start_date
    
    concatFeature.append(str(int(df['FG_PCT_home'][i] * 1000)).zfill(3) + 
                         str(df['TEAM_ID_home'][i])[-2:] + 
                         str(int(df['PTS_home'][i])).zfill(3) +
                         str(int(df['FT_PCT_home'][i] * 1000)).zfill(4) +
                         str(int(df['AST_home'][i])).zfill(2) + 
                         str(int(df['REB_home'][i])).zfill(2) +
                         str(df['HOME_TEAM_WINS'][i])
                        )

df['SEQ_NUMBER'] = concatFeature

# Drop rows where all elements are NaN
df.dropna(how='all', inplace=True)

# Save to a tab-separated text file
df.to_csv("games_final.txt", sep='\t', index=False)

In [4]:
date_format = "%d/%m/%Y"
start_date = datetime.strptime('1/1/2000', date_format)

number = df.shape[0]

concatFeature = [] 
# FG_PCT_home + TEAM_ID_home[-2:] + PTS_home + FT_PCT_home + AST_home + REB_home + HOME_TEAM_WINS

for i in range(number):
    now_date = datetime.strptime(df['GAME_DATE_EST'][0], date_format)
    delta = now_date - start_date
    
    concatFeature.append(str(int(df['FG_PCT_home'][i] * 1000)).zfill(3) + 
                         str(df['TEAM_ID_home'][i])[-2:] + 
                         str(int(df['PTS_home'][i])).zfill(3) +
                         str(int(df['FT_PCT_home'][i] * 1000)).zfill(4) +
                         str(int(df['AST_home'][i])).zfill(2) + 
                         str(int(df['REB_home'][i])).zfill(2) +
                         str(df['HOME_TEAM_WINS'][i])
                        )

df['SEQ_NUMBER'] = concatFeature
df.to_csv("games_final.csv", index=False)

In [5]:
concatFeature.sort()
count = 0
for i in range(1, number):
    if concatFeature[i] == concatFeature[i - 1]:
        print(concatFeature[i])
        count += 1
print(f">> count of reduplicate rows: {count}")

36439086068222430
37560080033324400
37838095068423470
38155100084821541
38340098072415561
38362111078415570
39863112086220460
39866107062527470
40751096082619450
40965096065018481
41051111088228500
41441104085720370
43250111085725481
44056111094724431
44866106058835521
45358106069720561
46162106064328461
46848097066723300
47059119068836531
47155113076722471
48954121072428501
48958125077333371
51154108073323371
51241128074227540
52345122076026451
52943124056331521
54051145078330401
55649138069225601
>> count of reduplicate rows: 28